html,
body {
  font-size: 16px;
  font-family: Nunito, 'Sans-serif';
  background-color: #001f3f;
}

.header>div, .header button {
	display: inline-block;
	margin: 0.5rem 1rem;
}

html, body{
  height: 100%;
}
body{
  position: relative;
  min-height: 100%;
}
.instructions{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: green;
}

.hidden {
  display: none;
}

.game {
  background-color: #0074D9;
  padding: 1rem;
  border-radius: 10px;
  display: block;
  margin: 2rem auto;
  width: 30%;
  text-align: center;
}

input {
  width: 50%;
  padding: 0.25rem;
  font-size: 1rem;
  margin: 1rem;
  background-color: #F2F5EC;
  border-radius: 10px;
  border: 2px solid #7FDBFF;
  font-family: Nunito, 'Sans-serif';
  text-align: center;
}

.game-title {
  background-color: #0074D9;
  font-size: 1.5rem;
  color: #001f3f;
}

button {
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-color: #7FDBFF;
  border-radius: 10px;
  border: 2px solid #7FDBFF;
	font-family: Nunito, 'Sans-serif';
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
  padding: 0.15rem;
  margin: 0.25rem;
	background-color: #001f3f;
	color: #ffffff;
}
